.applied-jobe{
    display: flex;
    justify-content: center;
}

.btn-site{
    background-color: blue;
    color: white;
    padding: 8px, 16px;
}
.app-div{
    margin: 30px 50px;
}
.btn-div{
    padding-left: 83.5%;
    display: flex;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

/* .ownjob-div{
    display: flex;
    flex-direction: column;
    column-gap: 50px;
} */